@{
    ViewBag.Title = "Menu Almacen";
}

<div class="sidebar-title">
    <i class="bi bi-building"></i>
    Área de Almacén
</div>

<ul class="nav flex-column">

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Home")">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Despacho")">
            <i class="bi bi-truck"></i>
            Despachos Pendientes
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","HistorialDespacho")">
            <i class="bi bi-clock-history"></i>
            Historial de Despachos
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Auditoria")">
            <i class="bi bi-search"></i>
            Auditoría de Inventario
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Stock")">
            <i class="bi bi-box-seam"></i>
            Consultar Stock
        </a>
    </li>

</ul>