@{
    ViewBag.Title = "Menu Ventas";
}

<div class="sidebar-section">

    <div class="sidebar-header">
        <i class="bi bi-cart"></i>
        <span>Área Ventas</span>
    </div>

    <ul class="nav flex-column sidebar-menu">

        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString()=="Pedido" ? "active" : "")"
               href="@Url.Action("Index","Pedido")">
                <i class="bi bi-bag"></i>
                <span>Gestionar Pedidos</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString()=="Cliente" ? "active" : "")"
               href="@Url.Action("Index","Cliente")">
                <i class="bi bi-people"></i>
                <span>Gestionar Clientes</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["controller"].ToString()=="Stock" ? "active" : "")"
               href="@Url.Action("Index","Stock")">
                <i class="bi bi-box-seam"></i>
                <span>Consultar Stock</span>
            </a>
        </li>

    </ul>

</div>